html {
  box-sizing: border-box;
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 16px;
  font-size: 1.6rem;
}

.layout {
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.login-form {
  width: 35%;
  padding: 1.5em;
  background-color: #fafafa;
  border-radius: 2rem;
}

.campo-login {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  width: 85%;
}

.label-login {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 13px;
}

.campo-login input {
  border-radius: 12px;
  height: 1em;
  padding: 1em;
  background-color: #ebeff1;
  border: 0px;
}

.sign-up-label {
  font-size: 10px;
  margin-top: 2em;
  text-decoration: none;
}

.login-container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-login {
  background-color: var(--gris1);
}

.button-login-form {
  color: #fff;
  background-color: #aac6b9;
  height: 3em;
  border: 0px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 1em;
}

.img-container-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-login {
  width: 70%;
}

.listado-padre {
  display: flex;
}

.listado-cards {
  width: 35%;
  max-height: 86vh;
  overflow: auto;
  padding-top: 4em;
}

.mapa-contenedor {
  height: 0;
  overflow: hidden;
}

.mapa-contenedor iframe {
  position: absolute;
  top: 0;
  left: 35%;
  width: 64.6%;
  height: 100%;
}

.card-trabajo {
  margin: 1em;
  background-color: #fafafa;
  border-radius: 2em;
  padding: 1.5em 2em;
}

.button-ubicacion {
  background-color: #c57b57;
  width: 100%;
  border-radius: 10px;
  height: 3em;
  border: 0px;
}

.button-ubicacion a {
  text-decoration: none;
  color: #fff;
}

.titilo-label-card {
  font-weight: bold;
  font-size: 16px;
  margin-right: 0.5em;
}

.parrafo-card {
  font-size: 14px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -1em;
  margin-top: -1em;
}

.fecha-info-contenedor {
  display: flex;
  flex-direction: column;
}

.fecha-label-card {
  font-size: 10px;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: -1em;
}

.tag-duracion {
  background-color: #aac6b9;
  padding: 0.35em;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  border-radius: 0.7em;
  color: #fff;
  height: -moz-fit-content;
  margin-top: 10px;
}

.grupo-boton {
  position: fixed;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  background-color: white;
  border-radius: 1px;
  background: #e0e0e0;
  box-shadow: 6px 6px 24px #cacaca, -6px -6px 24px #f6f6f6;
  border-radius: 1px;
  background: #ffffff;
  box-shadow: 6px 6px 24px #e6e6e6, -6px -6px 24px #ffffff;
  top: 0;
}

.floating-button {
  background-color: #ebeff1;
  border-radius: 1rem;
  border: none;
  padding: 1rem 2rem;
}
